<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>&#65279;</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <style>
            * {
                font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue LT W05 65 Medium", Helvetica, Arial, sans-serif;
                font-size: 26px;
                text-transform: uppercase;
            }

            div {
                position:absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                white-space: nowrap;
            }
        </style>
    </head>
    <body>
        <div>
            Coming Soon
        </div>
    </body>
</html>

