<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Page</title>
<link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="terminal">
  <div class="header">
    <div class="buttons">
      <span class="close"></span>
      <span class="minimize"></span>
      <span class="fullscreen"></span>
    </div>
    <div class="title">home — zsh — 80x26</div>
  </div>
  <div class="content">
    <p>Last login: Wed Nov 15 08:33:20 on ttys000</p>
    <p><span class="prompt">roy@mac ~ % </span><span id="command"></span><span class="cursor"></span></p>
  </div>
</div>
<div class="buttons-container">
  <a href="https://buy.stripe.com/bIYbL12XA83P7pC3cc" class="btn" id="buy-btn">Purchase for Commercial Use $99</a>
  <br>
  <a href="https://github.com/roymoran/page/releases" class="btn" id="try-btn">Download for Personal Use</a>
</div>
<script src="script.js"></script>
</body>
</html>
